rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	match /users/{uid} {
    	match /{multiSegment=**} {
    		allow read: if request.auth.uid == uid;
      }
      match /updates/{uid} {
        allow read, write: if request.auth.uid == uid || exists(/databases/$(database)/documents/users/$(request.auth.uid)/perms/cos)
      }
      match /offs/{uid} {
        allow read, write: if exists(/databases/$(database)/documents/users/$(request.auth.uid)/perms/approve_off)
      }
      allow create: if request.auth.uid != null && exists(/databases/$(database)/documents/users/$(request.auth.uid)/perms/approve_users);
      allow read: if exists(/databases/$(database)/documents/users/$(request.auth.uid)/perms/cos);
      allow get: if request.auth.uid != null;
    }
    match /temp/{uid} {
      allow create, read: if request.auth.uid == uid && request.auth.uid != null;
      allow delete, update, read: if request.auth.uid != null && exists(/databases/$(database)/documents/users/$(request.auth.uid)/perms/approve_users);
    }
    match /constants/{multiSegment=**} {
    	allow read: if isVerified();
    }
    match /pending_offs/{uid} {
    		allow create: if request.auth.uid != null && request.auth.uid == request.resource.data.requester;
        allow read, delete: if request.auth.uid == resource.data.requester;
        allow read, update, delete: if request.auth.uid == resource.data.recommender && exists(/databases/$(database)/documents/users/$(request.auth.uid)/perms/recommend_off);
    }
    match /recommended_offs/{uid} {
        allow create: if request.auth.uid != null && request.auth.uid == request.resource.data.recommender && exists(/databases/$(database)/documents/users/$(request.auth.uid)/perms/recommend_off);
        allow read, delete: if request.auth.uid == resource.data.requester || request.auth.uid == resource.data.recommender;
        allow read, update, delete: if request.auth.uid == resource.data.approver && exists(/databases/$(database)/documents/users/$(request.auth.uid)/perms/approve_off);
    }
//   	match /users/{uid} {
//     	allow read, write: if isAdmin();
//     	allow read, update, delete: if request.auth.uid == uid;
//       allow create: if request.auth.uid != null;
//     }
//   	match /admins/{uid} {
//     	allow read: if request.auth.uid == uid;
//     }
//     match /visits/{id} {
//     	allow read, write: if isAdmin();
//     	allow read: if request.auth.token.phone_number in resource.data.visitors;
//       allow read, update: if request.auth.uid == resource.data.ic && request.resource.data.approved == resource.data.approved;
//       allow create: if request.auth.uid != null && request.resource.data.approved == null;
      
//       function isVisitor() {
//       	return request.auth.uid != null && request.auth.token.phone_number in get(/databases/$(database)/documents/visits/$(id)).data.visitors
//       }
      
//       match /visitors/{vuid} {
//       	allow read: if isAdmin() || isVisitor();
//         allow update: if isAdmin() || (isVisitor() && request.resource.data.checkedIn == resource.data.checkedIn);
//       	allow create: if isVisitor() && request.resource.data.checkedIn == null;
//       }
//     }
    match /{document=**} {
      allow read, write: if false;
    }
    
    function isVerified() {
    	return request.auth.uid != null && exists(/databases/$(database)/documents/users/$(request.auth.uid));
    }
    // function isAdmin() {
    // 	return request.auth.uid != null && exists(/databases/$(database)/documents/admins/$(request.auth.uid));
    // }
  }
}